@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5px;
}
header {
  padding: 3em 0;
  text-align: center;
}
h1 {
  font-size: 2.625em;
  font-weight: 300;
  line-height: 1.0952380952380953px;
  margin-bottom: 1.6666666666666667em;
}
h2 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
.sige-logo {
  margin: 0 0 2em 0;
}
.btn--default,
.progbar--default,
.tooltip--default {
  background: #08abee;
}
.btn--success,
.progbar--success,
.tooltip--success {
  background: #97c941;
}
.btn--error,
.progbar--error,
.tooltip--error {
  background: #d01452;
}
.btn--warning,
.progbar--warning,
.tooltip--warning {
  background: #fcc33c;
}
.btn--info,
.progbar--info,
.tooltip--info {
  background: #565656;
}
