@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
.grid:after {
  clear: both;
  content: "";
  display: table;
}
.hidden {
  display: none !important;
}
.srt {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.icon--nav-toggle:before {
  content: '';
  display: block;
  position: absolute;
}
.centered,
.grid {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
* {
  box-sizing: border-box;
}
a {
  color: #97c941;
  text-decoration: none;
}
a:hover {
  color: #7aa62f;
}
blockquote {
  border-left: 5px solid #9b9b9b;
  color: #9b9b9b;
  font-size: 1.25em;
  font-weight: 300;
  margin: 1rem 0;
  padding-left: 5%;
}
body {
  background: #fbf9f9;
  color: #213338;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
button {
  outline: 0;
}
header {
  padding: 3em 0;
  text-align: center;
}
h1 {
  color: #737373;
  font-weight: 300;
}
h2 {
  color: #909090;
  font-weight: 300;
}
h3,
h4,
h5,
h6 {
  color: #9b9b9b;
  text-transform: uppercase;
  font-weight: 700;
}
img {
  max-width: 100%;
}
input,
textarea {
  border: 0;
  display: block;
  outline: 0;
}
footer {
  border-top: 1px solid rgba(155,155,155,0.5);
  font-size: 0.875em;
  margin-top: 1rem;
  padding: 1rem 0;
}
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  max-width: 60.625em;
  margin: 0 auto;
  padding: 0 0.9375em 3.125em 0.9375em;
}
.panel,
.panel--centered {
  padding: 1em 0;
}
@media screen and (min-width: 769px) {
  .panel,
  .panel--centered,
.panel,
.panel--centered {
    padding: 1.875em 0 1.25em 0;
  }
}
.panel--padded,
.panel--padded--centered {
  padding: 1em 0;
}
@media screen and (min-width: 769px) {
  .panel--padded,
  .panel--padded--centered,
.panel--padded,
.panel--padded--centered {
    padding: 1em 0;
    padding: 5em 0 2.125em 0;
  }
}
@media screen and (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%;
  }
  .grid__col--2 {
    width: 15%;
  }
  .grid__col--3 {
    width: 23.5%;
  }
  .grid__col--4 {
    width: 32%;
  }
  .grid__col--5 {
    width: 40.5%;
  }
  .grid__col--6 {
    width: 49%;
  }
  .grid__col--7 {
    width: 57.49999999999999%;
  }
  .grid__col--8 {
    width: 66%;
  }
  .grid__col--9 {
    width: 74.5%;
  }
  .grid__col--10 {
    width: 83%;
  }
  .grid__col--11 {
    width: 91.5%;
  }
  .grid__col--12 {
    width: 100%;
  }
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding: 0 10px;
  }
  [class^="grid__col--"] + [class^="grid__col--"] {
    margin-left: 2%;
  }
  [class^="grid__col--"]:last-of-type {
    float: right;
  }
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin: 0.75em 0;
  }
}
.grid {
  width: 90%;
}
[class*="grid__column--"] > .grid {
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .grid {
    max-width: 1050px;
  }
}
.panel--centered {
  text-align: center;
}
.panel--padded--centered {
  text-align: center;
}
[class^="btn--"],
.form__button {
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 400;
  margin: 0.5em 0;
  padding: 1rem 2rem 13px 2rem;
  text-transform: uppercase;
  transition: border-color 0.3s, opacity 0.3s;
  width: 100%;
}
@media screen and (min-width: 769px) {
  [class^="btn--"],
  .form__button,
[class^="btn--"],
.form__button {
    margin: 0.5em;
    width: auto;
  }
}
[class^="btn--"]:hover,
.form__button:hover {
  border-color: transparent;
  opacity: 0.75;
}
.nav__item {
  display: inline-block;
  margin: 0 0.5px;
}
.nav__item a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 300;
  padding: 0.9em 2.5em;
  text-decoration: none;
  transition: all 0.3s ease;
}
[class^="progress__state"] {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.progress__count {
  color: #fff;
  display: block;
  font-size: 0.6875em;
  position: absolute;
  right: 50%;
  top: 2px;
}
.btn--scorpion {
  background: #565656;
  border-bottom: 3px solid #454545;
}
.btn--gray {
  background: #909090;
  border-bottom: 3px solid #737373;
}
.btn--ebony-clay {
  background: #213338;
  border-bottom: 3px solid #1a292d;
}
.btn--atlantis {
  background: #97c941;
  border-bottom: 3px solid #7aa62f;
}
.btn--crimson {
  background: #d01452;
  border-bottom: 3px solid #a61042;
}
.btn--disco {
  background: #9e1f70;
  border-bottom: 3px solid #7e195a;
}
.btn--sunglow {
  background: #fcc33c;
  border-bottom: 3px solid #f6ae04;
}
.btn--tuscany {
  background: #b16828;
  border-bottom: 3px solid #8e5320;
}
.btn--cinnabar {
  background: #e84c3d;
  border-bottom: 3px solid #d22919;
}
.btn--lochmara {
  background: #008ed4;
  border-bottom: 3px solid #0072aa;
}
.btn--tree-poppy {
  background: #f5911d;
  border-bottom: 3px solid #d27509;
}
.btn--cerulean {
  background: #08abee;
  border-bottom: 3px solid #0689be;
}
.form__label {
  color: #9b9b9b;
  display: block;
  font-weight: 300;
  margin-bottom: 0.625em;
}
.form__input {
  border: 1px solid #213338;
  border-radius: 4px;
  margin-bottom: 0.75em;
  padding: 6px 1%;
  width: 100%;
}
.form__button {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.site-logo {
  margin: 0;
  background: url("../img/mejorandolaicon.png") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 77px;
  width: 77px;
}
@media screen and (min-width: 769px) {
  .site-logo {
    margin: 0 0 2em 0;
  }
}
.icon--nav-toggle {
  border-bottom: solid 3px #909090;
  border-top: solid 3px #909090;
  display: inline-block;
  height: 17px;
  position: relative;
  top: -52px;
  width: 25px;
}
.icon--nav-toggle:before {
  height: 3px;
  width: 25px;
  background: #909090;
  top: 4px;
}
.img--wrap {
  border: 1px solid #213338;
  padding: 0.75em;
}
.img--avatar {
  border-radius: 50%;
  display: block;
}
.img--hero {
  margin-bottom: 2rem;
}
.nav {
  font-size: 0;
  margin-bottom: 1.875em;
  margin-top: 1.25em;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}
.nav__item:first-child a {
  border-radius: 4px 0 0 4px;
}
.nav__item:last-child a {
  border-radius: 0 4px 4px 0;
}
.nav__item a {
  background: #97c941;
}
.nav__item a:hover {
  background: #7aa62f;
}
.nav__item--current a {
  background: #7aa62f;
}
.navbar {
  position: relative;
}
@media screen and (min-width: 769px) {
  .navbar {
    margin: 1rem 0 0 0;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-buuhxp");
  src: url("../fonts/icomoon.eot?#iefix-buuhxp") format('embedded-opentype'), url("../fonts/icomoon.woff?-buuhxp") format('woff'), url("../fonts/icomoon.ttf?-buuhxp") format('truetype'), url("../fonts/icomoon.svg?-buuhxp#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon--"],
[class*=" icon--"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--calc:before {
  content: "\e600";
}
.icon--cloud:before {
  content: "\e601";
}
.icon--comments:before {
  content: "\e602";
}
.icon--config:before {
  content: "\e603";
}
.icon--down:before {
  content: "\e604";
}
.icon--dropbox:before {
  content: "\e605";
}
.icon--facebook:before {
  content: "\e606";
}
.icon--full:before {
  content: "\e607";
}
.icon--in:before {
  content: "\e608";
}
.icon--left:before {
  content: "\e60a";
}
.icon--link:before {
  content: "\e60b";
}
.icon--list-menu:before {
  content: "\e60c";
}
.icon--next:before {
  content: "\e60d";
}
.icon--pause:before {
  content: "\e60e";
}
.icon--phone:before {
  content: "\e60f";
}
.icon--play:before {
  content: "\e610";
}
.icon--plus:before {
  content: "\e611";
}
.icon--prev:before {
  content: "\e612";
}
.icon--right:before {
  content: "\e613";
}
.icon--search:before {
  content: "\e614";
}
.icon--square-menu:before {
  content: "\e615";
}
.icon--star:before {
  content: "\e616";
}
.icon--trash:before {
  content: "\e617";
}
.icon--twitter:before {
  content: "\e618";
}
.icon--up:before {
  content: "\e619";
}
.icon--user:before {
  content: "\e61a";
}
.icon--video:before {
  content: "\e61c";
}
.icon--web:before {
  content: "\e61d";
}
.icon--write:before {
  content: "\e61e";
}
.icon--youtube:before {
  content: "\e61f";
}
.icomoon-demo {
  font-size: 1.5em;
}
.icomoon-demo__item {
  display: inline-block;
  margin: 0 0 2em 2em;
}
.progress {
  background: #e6e9ed;
  border-radius: 13px;
  height: 1.25em;
  margin: 1em;
  overflow: hidden;
  position: relative;
}
.progress__state--scorpion {
  background: #565656;
}
.progress__state--gray {
  background: #909090;
}
.progress__state--ebony-clay {
  background: #213338;
}
.progress__state--atlantis {
  background: #97c941;
}
.progress__state--crimson {
  background: #d01452;
}
.progress__state--disco {
  background: #9e1f70;
}
.progress__state--sunglow {
  background: #fcc33c;
}
.progress__state--tuscany {
  background: #b16828;
}
.progress__state--cinnabar {
  background: #e84c3d;
}
.progress__state--lochmara {
  background: #008ed4;
}
.progress__state--tree-poppy {
  background: #f5911d;
}
.progress__state--cerulean {
  background: #08abee;
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  .is-collapsed-mobile {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    visibility: collapse;
  }
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  .is-displayed-mobile {
    display: block;
  }
  .is-hidden-mobile {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .is-displayed-mobile {
    display: none;
  }
}
