// Base styles

body 
  font-family font-family--primary
  font-size base__font-size
  line-height (base__line/base__font-size)

header 
  padding em(48px) 0
  text-align center
  
h1
  color palettes['atlantis'].base //getter like js objects
  font-size em(42px)
  font-weight font-weight--light
  line-height (46px/42px)
  margin-bottom em(70px, 42px)
  
h2
  font-family font-family--secondary
  font-weight font-weight--light
  font-size em(24px)
