// Global config: defines variables for the projetc

// Font stacks
font-url--google = 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'

font-family--primary = 'Open Sans', sans-serif
font-family--secondary = sans-serif

// Font weights
font-weight--light = 300
font-weight--normal = 400
font-weight--bold = 700

// Descriptive base colors
scorpion = #565656
gray = #909090
ebony-clay = #213338
atlantis = #97C941
crimson = #D01452
disco = #9E1F70
sunglow = #FCC33C
tuscany = #B16828
cinnabar = #E84C3D
lochmara = #008ED4
tree-poppy = #F5911D
cerulean = #08ABEE

// Color usage
color-primary = atlantis
color-secondary = scorpion
color-accent = sunglow
color-shadow = rgba(black, .2)

// Color palette modifiers nested objects
palettes = {
  gray: {
    light: lighten(gray, 12%),
    base: gray,
    dark: darken(gray, 8%)
  },
  atlantis: {
    light: lighten(atlantis, 12%),
    base: atlantis,
    dark: darken(atlantis, 8%)
  }
}

// UI colors
ui-colors = { //Hashes like js objects 
  default: cerulean,
  success: atlantis
  error: crimson,
  warning: sunglow,
  info: scorpion
}

// text
base__font-size = 16px
base__line = 24px

// Path to assets
path--rel = "../img"
