// Extends

// Buttons
$btn
  border-radius: br--default
  border-bottom: 3px solid red
  color: white !important
  display: inline-block
  font-size: em(14px)
  font-weight: font-weight--normal
  padding: 1rem 2rem 13px 2rem
  text-transform: uppercase
  transition: border-color trns-duration, opacity trns-duration
  
  &:hover
    border-color: transparent
    opacity: .75
    

// Nav items

$nav-item
  display: inline-block
  margin: 0 .5px 
    
  
  