// Extends

// Buttons
$btn
  border-radius: br--default
  border: 0
  color: white !important
  display: inline-block
  font-size: em(14px)
  font-weight: font-weight--normal
  padding: 1rem 2rem
  text-transform: uppercase
  transition: opacity trns-duration ease
  
  &:hover
    opacity: .75
  
  