// Form
.form
  +element(label)
    color: palettes["gray"].light
    display: block
    font-weight: font-weight--light 
    margin-bottom: em(10px)
    width: 100%

  +element(input)
    border: 1px solid palettes["ebony-clay"].base
    border-radius: br--default
    margin-bottom: em(12px)
    padding: 6px 12px
    width: 100%

  +element(button)
    &
      @extends $btn

