// Main

// Layout
.container
  max-width em(1000px)
  margin 0 auto
  padding 0 em(15px) em(50px) em(15px)

// Icons
.site-logo
  margin: 0 0 2em 0
  img-replace("mejorandolaicon.png", 77px, 77px, inline-block)
  
.icn-toggle 
  +p-el(before, 25px, 3px) // Include the mixin with a block of code with '+'' prefix
    background: palettes['gray'].base
    top: 7px
    
  border-bottom: solid 3px palettes['gray'].base
  border-top: solid 3px palettes['gray'].base
  display: inline-block
  height: 17px
  position: relative
  width: 25px
  
// Buttons
.btn
  bg-colors(ui-colors)
  
[class^="btn--"]
  @extends $btn


