// Nav

.nav
  font-size: 0
  margin-bottom: em(30px)
  margin-top: em(20px)
  padding: 0 

  +element(item)
    /*
    * The best practice is to have place holdres for base styles 
    * especially with modifiers in order to prevent 
    * writing element class and modifier class in our markup this would be too long
    */
      
    & // A little bit tricky with stylus... at the moment we need to put & in order to get work
      @extend $nav-item-display

    &:first-child a
      border-radius: 4px 0 0 4px

    &:last-child a
      border-radius: 0 4px 4px 0
    a
      @extends $nav-item-link
      background: palettes['atlantis'].base // Ez to modify the color here not in the placeholder
      &:hover
        background: palettes['atlantis'].dark

    +modifier(current) 
      a
        background: palettes['atlantis'].dark
