// Utilities mixins & functions

// Import if google fonts url is defined
if font-url--google is defined
  @import url(font-url--google)

// Calculate em values
em(target, context = base__font-size) 
  unit(target/context, 'em') // convert px a em

// Mixins
bg-colors(hash) 
  for key, value in hash //iterating an object(hash)
    &--{key} // interpolation, print the value in the selector
      background: value

img-replace(img, w, h, disp = block)
  background: url(path--rel + "/" + img) no-repeat 
  background-size: cover
  display: disp
  height: h
  width: w

p-el(el, width = auto, height = auto)
  
  if el == "after" or el == "before"
    &:{el}
      @extend $pseudos
      height: height
      width: width
      {block} // Include a block of code to this mixin
      
  else 
    error('Invalid pseudoelement: ' + el) // Stylus error reporting to console
