// Global config: defines variables for the projetc

// Font stacks
font-url--google = 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'

font-family--primary = 'Open Sans', sans-serif
font-family--secondary = sans-serif

// Font weights
font-weight--light = 300
font-weight--normal = 400
font-weight--bold = 700

// Background color


// Descriptive base colors
scorpion = #565656
gray = #909090
ebony-clay = #213338
atlantis = #97C941
crimson = #D01452
disco = #9E1F70
sunglow = #FCC33C
tuscany = #B16828
cinnabar = #E84C3D
lochmara = #008ED4
tree-poppy = #F5911D
cerulean = #08ABEE

hint-of-red = #fbf9f9 // bg color 

// Color usage
color-primary = atlantis
color-secondary = scorpion
color-accent = sunglow
color-shadow = rgba(black, .2)

// Color palette modifiers nested objects
palettes = {
  gray: {
    light: lighten(gray, 10%),
    base: gray,
    dark: darken(gray, 20%)
  },
  atlantis: {
    light: lighten(atlantis, 10%),
    base: atlantis,
    dark: darken(atlantis, 20%)
  },
  ebony-clay: {
    light: lighten(ebony-clay, 10%),
    base: ebony-clay,
    dark: darken(ebony-clay, 20%)
  }
}

// UI colors
ui-colors = { //Hashes like js objects 
  scorpion : scorpion,
  gray : gray,
  ebony-clay : ebony-clay,
  atlantis : atlantis,
  crimson : crimson,
  disco : disco,
  sunglow : sunglow,
  tuscany : tuscany,
  cinnabar : cinnabar,
  lochmara : lochmara,
  tree-poppy : tree-poppy,
  cerulean : cerulean
}

// text
base__font-size = 16px
base__line = 24px

// Transitions
trns-duration = .3s

// Border radius
br--default = 4px
br--round = 50%


// Path to assets
path--rel = "../img"

// Grid configuration variables
grid-col-width = 65px
grid-gutter-width = 20px
grid-col-count = 12
grid-container-width = 1050px

// Breakpoints
small-bp = 1px
medium-bp = 768px
large-bp = 1100px



