// Helpers

// Clearfix
$clearfix // Placeholders like sass 
  &:after
    clear: both
    content: ""
    display: table
    
.hidden 
  display: none !important

// Screen reader text
.srt
  border: 0
  clip: rect(0, 0, 0, 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  
  
// For pseudo-elements
$pseudos // Placeholder 
  content: ''
  display: block
  position: absolute


.centered
  float: none
  margin-left: auto
  margin-right: auto
