// Mixins
  
bg-colors(hash) 
  for key, value in hash //iterating an object(hash)
    &--{key} // interpolation, print the value in the selector
      background: value
      border-bottom: 3px solid darken(value, 20%)

img-replace(img, w, h, disp = block)
  background: url(path--rel + "/" + img) no-repeat 
  background-size: cover
  display: disp
  height: h
  width: w

p-el(el, width = auto, height = auto)
  
  if el == "after" or el == "before"
    &:{el}
      @extend $pseudos
      height: height
      width: width
      {block} // Include a block of code to this mixin
      
  else 
    error('Invalid pseudoelement: ' + el) // Stylus error reporting to console

// BEM slectors

element(ele-name)
  &__{ele-name}
    {block}
    
modifier(mod-name)
 &--{mod-name}
    {block}
  