// Paceholders

$panel-default
  padding: em(30px) 0 em(20px) 0

$panel-padding
  padding: em(80px) 0 em(34px) 0


$col 
  float: left
  margin-bottom: em(12px)
  margin-left: 2%
  margin-top: em(12px)
  padding: 0 10px
