// Collapsed

/*
 * SMACSS naming convention for element states
 * are prefixed with 'is'
 */

.is-collapsed-mobile
  +media-query('small')
    height: 0
    line-height: 0
    margin: 0
    padding: 0
    visibility: collapse
