// Base styles
* 
  box-sizing: border-box

a
  color: palettes["atlantis"].base
  text-decoration: none
  &:hover
    color: palettes["atlantis"].dark

blockquote
  border-left: 5px solid palettes["gray"].light
  color: palettes["gray"].light
  font-size: em(20px)
  font-weight: font-weight--light 
  margin: 1rem 0
  padding-left: 5%

body 
  background: hint-of-red
  color: palettes["ebony-clay"].base
  font-family: font-family--primary
  font-size: base__font-size
  //line-height: (base__line/base__font-size)
    
button
  outline: 0

header 
  padding: em(48px) 0
  text-align: center
  
h1
  color: palettes["gray"].dark //hash getter like js objects
  //font-size: em(42px)
  font-weight: font-weight--light
  line-height: (46px/42px)
  margin-bottom: em(70px, 42px)
  
h2
  color: palettes['gray'].base
  //font-family: font-family--secondary
  //font-size: em(24px)
  font-weight: font-weight--light
  
h3, 
h4,
h5,
h6
  color: palettes["gray"].light
  text-transform: uppercase
  font-weight: font-weight--bold

// Images
img
  max-width: 100%


// Form elements  
input,
textarea 
  border: 0
  display: block
  outline: 0
  
  
