// Form
.form
  +element(label)
    color: palettes["gray"].light
    display: block
    font-weight: font-weight--light 
    margin-bottom: em(10px)

  +element(input)
    &
      @extends $form-item
    border-color: palettes["ebony-clay"].base

    +modifier('gray')
      &
        @extends $form-item
      background: athens-gray
      border-color: athens-gray

  +element(button)
    &
      @extends $btn
    margin-left: 0
    margin-right: 0
    width: 100%

