// Images module

.img
  +modifier(wrap)
    border: 1px solid palettes["ebony-clay"].base
    padding: em(12px)

  +modifier(avatar)
    border-radius: br--round
    display: block

  +modifier(hero)
    margin-bottom: 2rem
